
#correctAnsDiv {
    display: none;
}
#loserDiv {
    display: none;
}
body{
    background-image: url("pexels-joão-jesus-925743.jpg");
    background-position: center;
    background-size: 25%;
    background-attachment: fixed;
}
main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}
h1{
    font-family: 'Monoton', cursive;
    color: blue;
    font-weight: 400;
    font-size: 75px;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 0px;
    border-bottom:black solid
}
h3{
    font-family: 'Bungee Inline', cursive;
    background-color: rgb(245, 245, 98);
    border-radius: 50px;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin: 5px 200px; 
}
#loadingDiv{
    text-align: center;
    margin-top: 35px;
}
#playButton{
    font-family: 'Bungee Inline', cursive;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border-radius: 15px 50px;
    border: white solid;
    /* background-color: red; */
    position: relative;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
@keyframes animation {
    0%   {background-color:white;}
    25%  {background-color:yellow;}
    50%  {background-color:white;}
    75%  {background-color:yellow;}
    100% {background-color:white;}
}
#questionDiv{
    display: none;
    font-family: 'Grandstander', cursive;
    font-weight: bold;
    font-size: 25px;
    white-space: pre-wrap;
    word-wrap: break-word;
    height: 85px;
    width: 500px;
    background-color: white;
    border: black solid;
    padding: 10px;
}
.answerInput{
    width: 500px;
    height: 85px;
    padding:10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Grandstander', cursive;
    font-weight: bold;
    font-size: 25px;
}
.submitButton{
    font-family: 'Grandstander', cursive;
    font-weight: bold;
    font-size: 20px;
    width: 500px;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px 15px;
    cursor: pointer;
}
#loserDiv{
    background-color: white;
    width: 500px;
    height: 70px;
    padding-top: 40px;
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    font-size: 35px;
    text-align: center; 
    white-space: pre-wrap;
    word-wrap: break-word;  
}
#playAgainButton{
    display: flex;
    margin-top: 5px;
    cursor: pointer;
    width: 500px;
    justify-content: center;
    font-family: 'Grandstander', cursive;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px 15px;
    position: relative;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
}
#correctAnsDiv{
    background-color: white;
    width: 500px;
    height: 70px;
    padding-top: 40px;
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;   
}
#nextButton{
    display: flex;
    margin-top: 35px;
    cursor: pointer;
    width: 500px;
    justify-content: center;
    font-family: 'Grandstander', cursive;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px 15px;
    position: relative;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#scoreDiv{
    background-color: white;
    width: 150px;
    height: 15px;
    justify-content: center;
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 57px;
    padding: 5px;
    border-radius: 15px 50px;
}